body{
	margin: 0px;
	background:linear-gradient(#038282, #012020) ;
	overflow-x: hidden;
}
.aTeg {
    text-decoration: none;
}
a{
	text-decoration: none;
}
#header{
	width: 100%;
	height: 80px;
	background: linear-gradient(90deg, black, rgb(16, 16, 16) 5%, black,  rgb(29, 28, 28) 59%, black);
	display: flex;
	flex-direction: row;
	z-index: 400;
	top: 0;
}
.menu{
	width: 33%;
	height:auto;
	margin: auto auto;
	text-align: center;
	justify-self:center;
	align-content:center;
}
#class{
	color: #4ab4b5;
	font-size: 35px;
	font-family: cursive;;
}
#class { color: #4ab4b5; opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    animation: blink 2s infinite;
}
#class { color: #ffffff; }
@keyframes blink {
    0% { opacity:1;}
    50% { opacity:0;}
    100% { opacity:1;}
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.mindkey{
  color: azure;
	font-size: 35px;
	transition: color 1s;
	text-decoration: none;
}
.mindkey:hover{
  color: #4ab4b5;
}
#about{
	color: azure;
	font-size: 25px;
	transition: color 1s;
}
#about:hover{
	color: #4ab4b5;
  }
#backvideo{
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
	align-items:center;
	justify-content: center;;
	
}
.video{
	position: absalute;
	top:0;
	right:0;
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	opacity: 0.9;
	z-index: 1;
}
#come{
	width: auto;
	height: auto;
	position: absolute;
	margin-top: -8%;
	text-align: center;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-items:last baseline;
	
	
}
#come > span{
	/* the color  */
	--c: #ffffff;
	/* the height */
	--h: 1.2em;
  
	/* The first hover effect in this article */
	line-height: var(--h);  
	color: #0000;
	overflow: hidden;
	font-size: 60px;
	margin: 25px;
	padding-left: 9px;
	padding-right: 9px;
	text-shadow: 
	  0 calc(-1 * var(--_t, 0em)) var(--c) , 
	  0 calc(var(--h) - var(--_t, 0em)) #ffffff;
	/* The second hover effect from the previous article */
	background: 
	  linear-gradient(#106264 0 0) no-repeat 
	  calc(200% - var(--_p, 0%)) 100% / 200% var(--_p, .08em);
	transition: .3s var(--_s, 0s), background-position .3s calc(.3s - var(--_s, 0s));
  }
  #come > span:hover {
	--_t: var(--h);
	--_p: 100%;
	--_s: .4s;
	border-radius:10px;
  }
  #down:hover > svg{
	color:#106264;
	transition :transform 0.3s;
	transform: scale(1.2);
  }
  #courses{
	width: 100%;
	height: 90px;
	background: linear-gradient(65deg, rgb(3, 50, 50), rgb(4, 63, 60) 5%, black);
	display: flex;
	flex-direction: column;
	z-index: 400;
	top: 0;
	align-content:center;
	justify-content: center;
	color:white;
	text-align: center;
	font-size: 25px;
}
  #courses > p{
	font-size: 40px;
  }
 #courses > p:hover {
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, rgb(169, 167, 167) 50%, rgba(0,0,0,.6) 70%);
	-webkit-mask-size: 200%;
	animation: shine 4s infinite;
  }
  
  @-webkit-keyframes shine {
	from {
	  -webkit-mask-position: 150%;
	}
	
	to {
	  -webkit-mask-position: -50%;
	}
  }


/* p{
	position: absolute;
	color: #02a388;
	font-size: 25px;
	margin-top: 1%;
} */
.inf{
	position: relative;
	width: 100%;
	height: 65px;
	background-color: black;
}
/* .inf p{
	display: inline;
	color: #02a388;
	font-size: 25px;
	text-align: center;
	width: 100%;
} */
#one{
	width: 100%;
	align-items: center;
	margin-top: 10%;
	display: grid;
	grid-template-columns:auto auto auto auto;
	margin: 100px auto 100px auto;
}
#two{
	width: 100%;
	align-items: center;
	margin-top: 10%;
	margin: 100px auto 100px auto;
	display: grid;
	grid-template-columns:auto auto auto auto;
}
#one div{
	margin: auto auto;
}
#two div{
	margin: auto auto;
}
.main{
 	box-shadow: 0 6px 10px 0 #4ab4b5, 0 8px 24px 0 #4ab4b5;
	position: relative;
}

.main:hover .overlay {
  height: 100%;
}
.aText {
	background-image: linear-gradient(
	  to right,
	  #000000,
	  #797575 50%,
	  rgb(255, 255, 255) 50%
	);
	background-size: 200% 100%;
	background-position: -100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 0.6s ease-in-out;
	text-decoration: none;
}
.aText:before {
	content: '';
	background: #ffffff;
	display: block;
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 0;
	height: 3px;
}
.aText:hover {
	background-position: 0;
}
.aText:hover::before {
	width: 100%;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background:linear-gradient(#4ab4b5, #157576) ;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
footer{
	position: relative;
	width: 100%;
	height: 300px;	
	background: linear-gradient(60deg, rgb(46, 46, 46), rgb(61, 59, 59) 5%, rgb(26, 25, 25),  rgb(28, 28, 28) 59%, rgb(29, 28, 28));;
	display: flex;
	z-index: 5;
	overflow-x: hidden;	
	overflow-y: hidden;
}
footer div{
	margin: auto ;
}
#wpnumber{
	font-size: 18px;
	color:white;
	position: relative;
	height: 100%;
}
.foot{
	position: relative;
}
.foot h1{
	font-size: 45px;
}
.menubar{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.menubar > a{
	margin: 3px ;
	text-decoration: none;
	font-size: 18px;
	color: rgb(255, 255, 255);
	font-family:'Times New Roman', Times, serif;
}
.menubar > a:hover{
	transform: scale(1.03);
	font-weight: bold;
}


.wpimg{
	transition: color 1s;
}
.wpimg:hover{
	background: linear-gradient(45deg,  #03723a, #01f07c);
	border-radius: 20%;
}
#insnumber{
	font-size: 18px;
	color:white;
	position: relative;
	height: 100%;
	font-family: sans-serif
}
.insimg{
	transition: color 1s;
}
.insimg:hover{
	background: linear-gradient(195deg,  #5851db, #59188b,  #c13584, #e1306c, #fdba1d, #fdf21d);
	border-radius: 20%;
}
.button li{
	list-style-type: none;
	text-align: center;
	color: white;
}
#mapbtn{
	text-decoration: none;
}
#mpbtn:hover{
	background:linear-gradient(-120deg, #34a853, #fbbc05, #ea4335);
}
h3{
	color: white;
}
.map{
	text-decoration: none;
	color:white;
	font-size: 18px;
	font-family:sans-serif;
}
.butt{
	font-size: 15px;
	color: white;
}
.butt:hover{
	color: black;
}
.more{
	margin-left: 90%;
	margin-top:-2%;
	width: 90px;
	height: 50px;
	border: 2px solid white;
	background-color: transparent;
	border-radius: 10%;
	color: white;
	position: absolute;
}
.more:hover{
	background-color: white;
	transition: is ease;
}
.more:hover .butt{
	color: black;
	transition: is ease;
}
.more::before{
	content: "";
	position: absolute;
	left: 0;
	top: 20x;
	background: transparent;
	height: 50%;
	width: 100%;
	transform: perspective(1em)
	rotateX(40deg) scale(1,0.35);
	filter: blur(10px);
	transition: is ease;
}
.more:hover::before{
	background: white;
	top: 50px;
}
/* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #bdfff3; 
	border-radius: 15px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #5c5e5e; 
	border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #767676; 
  }
@media only screen and (max-width: 1420px) {
	#one, #two{
		display: grid;
		grid-template-columns:50% auto;
		box-sizing: border-box;
	}
	#one{
		margin-top: 10px;
		margin-bottom: 0;
	}
	#two{
		margin-top: 0;
	}
	#one > div{
		margin: 20px auto 20px auto;
	}
	#two > div{
		margin: 20px auto 20px auto;
	}
  }
@media only screen and (max-width: 770px) {
	#one, #two{
		display: grid;
		grid-template-columns: auto;
		box-sizing: border-box;
	}
}

@media(min-aspect-ratio: 16/12) {
	.video{
		width: 100%;
		height: auto;
	}
}
@media(max-aspect-ratio: 16/12) {
	.video{
		width: 100%;
		height: auto;
	}
}
@media only screen and (max-width: 880px) {
	#class{
		font-size: 20px;
	}
	#about{
		font-size: 15px;
	}
	.mindkey{
		font-size: 25px;
	}
	#come > span{
		font-size: 36px;
	}
	#down{
		height: 60px;
		width: 60px;
	}
	
}
@media only screen and (max-width: 450px) {
	#class{
		font-size: 10px;
	}
	#about{
		font-size: 10px;
	}
	.mindkey{
		font-size: 18px;
	}
	#come > span{
		font-size: 20px;
	}
	#courses p{
		font-size: 25px;
	}
	#down{
		height: 30px;
		width: 30px;
	}
}
